body {
  overflow-x: hidden;
}
#home {
    height: 100vh;
    background: url('../img/oh.png') center center;
    position: relative;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#fun-fact {
    height: 100vh;
    background: url('../img/desktop/fun-fact.png') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 500px) {
  #fun-fact {
    height: 100vh;
    background: url('../img/mobile/fun-fact.svg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

#gbundar {
	width: 100%;  border: 12px solid #6633ff;
  margin-top: 15%;
}
.bor-brown {
	width: 70%;  border: 12px solid #D5944D;
}
#gsneak {
	width: 70%;  border: 12px solid #6633ff;
}

#student-life {
  height: 100vh;
}
@media (max-width:500px) {
  #student-life {
    height: 70vh;
  }
}
#schedule {
  height: 100vh;
}
@media (min-width:400px and max-width:700px) {
  #schedule {
    height: 70vh;
  }
  .mar-up-mid {
    margin-top: 15%;
  }
}
.icon {
  width: 70px;
  margin-right: 20px;
}
@media (max-width: 500px) {
  #gbundar {
    margin-top: 30%;
  	width: 90%;
    border: 8px solid #6633ff;
    font-size: 1em;
  }
  #gsneak {
    width: 90%;
    border: 8px solid #6633ff;
    font-size: 1em;
  }
  .bor-brown {
  	width: 70%;  border: 8px solid #D5944D;
  }
  .welcome p {
    font-size: 1em;
  }
  .schedule span{
    font-size: 0.5em;
  }
  .icon {
    width: 30px;
  }
}

@media (max-width: 700px) {
  #gbundar {
    margin-top: 30%;
  	width: 90%;
    border: 8px solid #6633ff;
    font-size: 1em;
  }
  .welcome p {
    font-size: 1em;
  }
  .schedule span{
    font-size: 0.8em;
  }
  .icon {
    width: 25px;
  }
}

#they-said {
  height: 45vh;
}
#launch-soon {
  background-image: url('../img/desktop/launching-soon.svg');
  height: 45vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
@media (max-width: 750px) {
  #launch-soon {
    background-image: url('../img/mobile/launching-soon.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45vh;
  }
}
#sneak-peak {
  height: 85vh;
  background: url('../img/desktop/sneak-peak.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#after-movie {
  height: 85vh;
  background: url('../img/desktop/sneak-peak.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 700px) {
  #gbundar {
    margin-top: 30%;
  	width: 90%;
    border: 8px solid #6633ff;
    font-size: 1em;
  }
  .welcome p {
    font-size: 1em;
  }
  .schedule span{
    font-size: 0.8em;
  }
  .icon {
    width: 25px;
  }
  #sneak-peak {
    height: 60vh;
    background: url('../img/desktop/sneak-peak.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #after-movie {
    height: 70vh;
    background: url('../img/desktop/sneak-peak.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
#register{
  height: 40vh;
  background-image: url('../img/desktop/register.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#register .grid-container {
  margin-top: 5%;
}

@media (max-width:400px) {
  #register{
    height: 60vh;
    background-image: url('../img/mobile/register2.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #register .grid-container {
    margin-top:20%;
  }
}
#regis-button {
  width: 70%;
  font-size: 1.5em;
}

#regis-button {
  background-color: #F4B558;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  color: #6633ff;
  width: 60%;
}
#footer {
  height: 10vh;
}
.sosmed-ico {
  width: 2.5em;
  margin-right: 2%;
}
@media (max-width:500px) {
  .sosmed-ico {
    width: 2em;
    margin-right: 2%;
  }
  .footer-font {
    font-size: 0.8em;
  }
}
