body {
  overflow-x: hidden;
}
@media (max-width:400px) {
  h1 {
    font-size: 1.8em;
  }
}
#home {
    height: 100vh;
    background: url('../oh.png') center center;
    position: relative;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#fun-fact {
    background: url('../img/desktop/fun-fact.png') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 500px) {
  #fun-fact {
    background: url('../img/mobile/fun-fact.svg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
#gbundar {
	width: 100%;  border: 12px solid #6633ff;
  margin-top: 15%;
}
.bor-brown {
	width: 70%;  border: 12px solid #D5944D;
}
#gsneak {
	width: 70%;  border: 12px solid #6633ff;
}
@media (max-width:400px) {
  #schedule {
    /* min-height: 100vh; */
  }
}
.icon {
  width: 55px;
  margin-right: 20px;
}
@media (max-width: 700px) {
  #gbundar {
    margin-top: 30%;
  	width: 90%;
    border: 8px solid #6633ff;
    font-size: 1em;
  }
  .welcome p {
    font-size: 1em;
  }
  .schedule span{
    font-size: 0.8em;
  }
  .icon {
    width: 50px;
  }
}
@media (max-width: 500px) {
  #gbundar {
    margin-top: 30%;
  	width: 90%;
    border: 8px solid #6633ff;
    font-size: 1em;
  }
  #gsneak {
    width: 90%;
    border: 8px solid #6633ff;
    font-size: 1em;
  }
  .bor-brown {
  	width: 70%;  border: 8px solid #D5944D;
  }
  .welcome p {
    font-size: 1em;
  }
  .schedule span{
    font-size: 0.5em;
  }
  .icon {
    width: 45px;
  }
}

#they-said {
  /* min-height: 60vh; */
}
#launch-soon {
  background-image: url('../img/desktop/launching-soon.svg');
  min-height: 45vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
@media (max-width: 750px) {
  #launch-soon {
    background-image: url('../img/mobile/launching-soon.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 45vh;
  }
}
#sneak-peak {
  /* min-height: 100vh; */
  background: url('../img/desktop/sneak-peak.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#after-movie {
  background: url('../img/desktop/sneak-peak.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 700px) {
  #gbundar {
    margin-top: 30%;
  	width: 90%;
    border: 8px solid #6633ff;
    font-size: 1em;
  }
  .welcome p {
    font-size: 1em;
  }
  .schedule span{
    font-size: 0.8em;
  }
  .icon {
    width: 25px;
  }
  #sneak-peak {
    min-height: 60vh;
    background: url('../img/desktop/sneak-peak.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #after-movie {
    min-height: 60vh;
    background: url('../img/desktop/sneak-peak.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
#register > div{
  min-height: 60vh;
  background-image: url('../img/desktop/register.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#register .grid-container {
  margin-top: 5%;
}

@media (max-width:500px) {
  #register > div{
    background-image: url('../img/mobile/register.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #register .grid-container {
    margin-top:20%;
  }
}
#regis-button {
  background-color: #F4B558;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  color: #6633ff;
  width: 50%;
  font-size: 1.5em;
  border: 2px;
  border: 2px solid #F4B558;
}
#regis-button:hover {
  background-color: #E4E9F7;
  color: #F4B558;
  border-color: #6633ff;
  border: 2px solid #6633ff;
}
#footer > div {
  min-height: 10vh;
}
.sosmed-ico {
  width: 2.5em;
  margin-right: 2%;
}
@media (max-width:500px) {
  .sosmed-ico {
    width: 2em;
    margin-right: 2%;
  }
  .footer-font {
    font-size: 0.8em;
  }
}
