/* IMPORTING FONT */
@font-face {
    font-family: "Kayak Bold";
    src:url("../fonts/Kayak Sans Bold.otf");
}
@font-face {
    font-family: "Moon Bold";
    src:url("../fonts/Moon Bold.otf");
}
@font-face {
    font-family: "Moon 2 Bold";
    src:url("../fonts/Moon2.0-Bold.otf");
}
@font-face {
    font-family: "Kayak Reg";
    src:url("../fonts/Kayak Sans Regular.otf");
}
@font-face {
    font-family: "Kayak Reg Italic";
    src:url("../fonts/Kayak Sans Regular (Italic).otf");
}
@font-face {
    font-family: "Kayak Light";
    src:url("../fonts/Kayak Sans Light.otf");
}
.font-moon-bold {
	 font-family: "Moon Bold";
}
.font-moon-2-bold {
    font-size: 2em;
	  font-family: "Moon 2 Bold";
    letter-spacing: 2px;
}
.font-moon-2-bold-header {
    font-size: 1em;
	  font-family: "Moon 2 Bold";
    letter-spacing: 2px;
}
.font-kayak-bold {
	 font-family: "Kayak Bold";
}
.font-kayak-reg {
	 font-family: "Kayak Reg";
}
.font-kayak-light {
	 font-family: "Kayak Light";
}
.font-kayak-italic {
	 font-family: "Kayak Reg Italic";
}
.bg-white {
    background: #FFFFFF;
}
.bg-light-violet {
    background: #E4E9F7;
}
.bg-brown {
    background: #F4B558;
}
.bg-navy {
    background: #1d2646;
}
.bg-violet {
    background: #6633ff;
}
.bg-plain {
    background: #E4E9F7;
}
.font-white {
    color: #FFFFFF;
}
.font-grey {
    color: #E4E9F7;
}
.font-brown {
    color: #3f0d12;
}
.font-navy {
    color: #1d2646;
}
.font-sugar-brown {
    color: #a24936;
}
.font-light-brown {
	color: #F4B558;
}
.font-navy {
    color: #1d2646;
}
.font-violet {
    color: #6633ff;
}
.font-black {
    color: #000000;
}
.mini-font {
  font-size: 1em;
}
.mid-lit-font {
  font-size: 1.5em;
}
.mid-font {
  font-size: 2em;
}
.big-font {
  font-size: 3em;
}
.count-font {
  font-size: 4em;
}

.full-vh {
  height: 90vh;
}
.half-vh {
  height: 40vh;
}
.top-bar ul {
  background: #1d2646;
}
.ver-center {
  padding-top: 40vh;
}
@media (max-width: 400px) {
  .ver-center {
    padding-top: 30vh;
  }
}

.pad-down {
    padding-bottom: 30%;
}
.pad-down-lit {
    padding-bottom: 10%;
}
.pad-down-very-lit {
    padding-bottom: 5%;
}
.pad-down-very-very-lit {
    padding-bottom: 3%;
}

.pad-up {
    padding-top: 30%;
}
.pad-up-lit {
    padding-top: 10%;
}
.pad-up-very-lit {
    padding-top: 5%;
}
.pad-right {
    padding-right: 30%;
}
.pad-right-lit {
    padding-right: 10%;
}
.pad-right-very-lit {
    padding-right: 5%;
}
.pad-left {
    padding-left: 30%;
}
.pad-left-lit {
    padding-left: 10%;
}
.pad-left-very-lit {
    padding-left: 5%;
}
.mar-down {
    margin-bottom: 30%;
}
.mar-down-lit {
    margin-bottom: 10%;
}
.mar-down-very-lit {
    margin-bottom: 5%;
}
.mar-up {
    margin-top: 30%;
}
.mar-up-lit {
    margin-top: 10%;
}
.mar-up-very-lit {
    margin-top: 5%;
}
.mar-right {
    margin-right: 30%;
}
.mar-right-lit {
    margin-right: 10%;
}
.mar-right-very-lit {
    margin-right: 5%;
}
.mar-left {
    margin-left: 30%;
}
.mar-left-lit {
    margin-left: 10%;
}
.mar-left-very-lit {
    margin-left: 5%;
}
.mar-left-very-very-lit {
    margin-left: 3%;
}
.full-h {
  height: 100%;
}
.nomar {
  margin-bottom: 0;
}
.border-embed {
	border: 12px solid #D5944D;
}
@media (max-width:500px) {
  .border-embed {
    border: 6px solid #D5944D;
  }
}

@media (max-width:700px) {
  .border-embed {
    border: 8px solid #D5944D;
  }
}

@media (max-width:400px){
  .mar-up-mob {
    margin-top: 5%;
  }
}

.pad-up {
  padding-top: 20%;
}
.pad-down {

}
@media (max-width:500px) {
  .pad-up{
    padding-top: 10%;
  }
  .pad-down{
    padding-bottom: 5%;
  }
}

.menu-icon::after {
    /* the block itself, the first line */
    background: #000000;
    /* middle and bottom */
    box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
    /* respect WebKit */
    -webkit-box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
}
.top-bar ul {
  background: #E4E9F7;
}
.navbar-height {
  height: 10vh;
}
/* .top-bar .toggle-topbar.menu-icon a {
    height: 34px;
    line-height: 33px;
    padding: 0;
    padding-right: 30px;
    color: #FFF;
    position: relative;
}

.top-bar .toggle-topbar.menu-icon a::after {
    box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    -webkit-box-shadow: 0 6px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
    display: block;
    height: 2px;
    right: 0px;
    position: absolute;
    top: 1px;
    width: 20px;
} */
